<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Layout</title>

		<!-- UNPKG -->

		<link
			href="https://unpkg.com/gridjs/dist/theme/mermaid.min.css"
			rel="stylesheet"
		/>
		<link href="https://unpkg.com/css.gg/icons/all.css" rel="stylesheet" />
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
			crossorigin="anonymous"
		/>

		<script
			src="https://kit.fontawesome.com/646cc00c51.js"
			crossorigin="anonymous"
		></script>

		<link rel="stylesheet" href="../styles/global.css" />
		<link rel="stylesheet" href="../styles/addClass.css" />
	</head>

	<body>
		<div class="topbar">
			<div class="logo"></div>
			<nav class="nav">
				<a href="ManageClass.html" class="active">Class</a>
				<a href="Attendance.html">Attendance</a>
				<a href="Report.html">Report</a>
			</nav>
			<div class="settings">
				<button
					id="notinav"
					type="button"
					class="noti btn btn-primary position-relative"
				>
					<i class="fa-solid fa-bell"></i>
					<span
						class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
					>
						99+
					</span>
				</button>
				<div class="user">
					<div class="photo">
						<i class="fa-solid fa-user"></i>
					</div>
					<div class="name" id="name">Lorem ipsum dolor sit amet</div>
					<div class="logout" onclick="logout()"><i class="gg-log-out"></i></div>
				</div>
			</div>
		</div>
		<div class="mcontainer">
			<form action="">
				<div class="classForm">
					<div class="itemForm">
						<div class="name">Class Name</div>
						<input
							type="text"
							name="className"
							id="className"
							class="inputForm validate"
						/>
					</div>
					<div class="itemForm">
						<div class="max">Max Student</div>
						<input
							class="inputForm validate"
							type="number"
							name="maxStudent"
							id="maxStudent"
						/>
					</div>
					<div class="itemForm">
						<div class="timeSlot">Time Slot #1</div>
						<select
							name="timeSlot1"
							id="timeSlot1"
							class="inputForm validate"
						>
							<option value="08.00am-10.00am">
								08.00am-10.00am
							</option>
							<option value="10.00am-12.00pm">
								10.00am-12.00pm
							</option>
							<option value="12.00pm-02.00pm">
								12.00pm-02.00pm
							</option>
							<option value="02.00pm-04.00pm">
								02.00pm-04.00pm
							</option>
							<option value="04.00pm-06.00pm">
								04.00pm-06.00pm
							</option>
							<option value="08.00pm-10.00pm">
								08.00pm-10.00pm
							</option>
						</select>
					</div>
					<div class="itemForm">
						<div class="timeSlot">Time Slot #2</div>
						<select
							name="timeSlot2"
							id="timeSlot2"
							class="inputForm validate"
						>
							<option value="-">
								-
							</option>
							<option value="08.00am-10.00am">
								08.00am-10.00am
							</option>
							<option value="10.00am-12.00pm">
								10.00am-12.00pm
							</option>
							<option value="12.00pm-02.00pm">
								12.00pm-02.00pm
							</option>
							<option value="02.00pm-04.00pm">
								02.00pm-04.00pm
							</option>
							<option value="04.00pm-06.00pm">
								04.00pm-06.00pm
							</option>
							<option value="08.00pm-10.00pm">
								08.00pm-10.00pm
							</option>
						</select>
					</div>
					<div class="listForm">
						<div class="studentTitle">Student</div>
						<select
							name="student"
							id="selectStd"
							class="inputForm form-select form-select-lg mb-3"
							aria-label=".form-select-lg example"
							onchange="addStudent(value)"
						>
							<option value="none" selected>
								- Select student -
							</option>
							<!-- <option value="Nur Izzaty bt Ariffin">Nur Izzaty bt Ariffin</option>
                    <option value="Muhammad Danial b. Mohammad Rizwan">Muhammad Danial b. Mohammad Rizwan</option>
                    <option value="Muhammad Aidil Syazwan b. Hamdan">Muhammad Aidil Syazwan b. Hamdan</option> -->
						</select>

						<div class="listStudent">
							<div class="count">
								<div class="title">Total Student</div>
								<div id="stdCount" class="tStudent">0</div>
							</div>
							<div id="studentTable"></div>
						</div>
					</div>

					<div class="but">
						<div id="errMsg" class="err-msg"></div>
						<input type="reset" class="button"></input>
						<div
							id="submitBtn"
							class="button disabled"
							onclick="submit()"
						>
							Submit
						</div>
					</div>
				</div>
			</form>
		</div>

		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
			crossorigin="anonymous"
		></script>
		<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
		<script src="../js/global.js"></script>
		<script src="../js/addNewClass.js"></script>
		<script>
			function validate() {
				const errMsg = document.querySelector("#errMsg");
				const submitBtn = document.querySelector("#submitBtn");

				const className = document.getElementById("className").value;
				const maxStudent = document.getElementById("maxStudent").value;
				const timeSlot1 = document.getElementById("timeSlot1").value;
				const timeSlot2 = document.getElementById("timeSlot2").value;

				if (className.length < 8) {
					errMsg.innerHTML =
						"Class name must be at least 8 characters";
					submitBtn.classList.add("disabled");
					return false;
				}

				if (maxStudent < 1) {
					errMsg.innerHTML = "Max student must be at least 1";
					submitBtn.classList.add("disabled");
					return false;
				}

				if (timeSlot1 == timeSlot2) {
					errMsg.innerHTML = "Time slot must be different";
					submitBtn.classList.add("disabled");
					return false;
				}

				errMsg.innerHTML = "";
				submitBtn.classList.remove("disabled");

				return true;
			}

			document.querySelectorAll(".validate").forEach(function (input) {
				input.addEventListener("keyup", function (e) {
					validate();
				});
				input.addEventListener("change", function (e) {
					validate();
				});
			});
		</script>
	</body>
</html>
