<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout</title>

    <link rel="stylesheet" href="./styles/global.css">
</head>
<body>
    <div class="topbar">
        <div class="logo"></div>
        <nav class="nav">
            <a href="ManageClass.html" class="active">Class</a>
            <a href="about.php">Attendance</a>
            <a href="contact.php">Report</a>
        </nav>
        <div class="settings">
            <div class="noti"></div>
            <div class="user">
                <div class="photo"></div>
                <div class="name">Lorem ipsum dolor sit amet</div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="classForm">
            <div class="className">
                <div class="name">Name</div>
                <input type="text" name="className" id="className">
            </div>
            <div class="maxStudent">
                <div class="max">
                    Max Student
                </div>
                <input type="number" name="maxStudent" id="maxStudent">
            </div>
            <div class="timeSlot1">
                <div class="timeSlot">
                    Time Slot #1
                </div>
                <select name="timeSlot1" id="timeSlot1">
                    <option value="08.00am-10.00am"></option>
                    <option value="10.00am-12.00pm"></option>
                    <option value="12.00pm-02.00pm"></option>
                    <option value="02.00pm-04.00pm"></option>
                    <option value="04.00pm-06.00pm"></option>
                    <option value="08.00pm-10.00pm"></option>
                </select>
            </div>
            <div class="timeSlot2">
                <div class="timeSlot">
                    Time Slot #2
                </div>
                <select name="timeSlot2" id="timeSlot2">
                    <option value="08.00am-10.00am"></option>
                    <option value="10.00am-12.00pm"></option>
                    <option value="12.00pm-02.00pm"></option>
                    <option value="02.00pm-04.00pm"></option>
                    <option value="04.00pm-06.00pm"></option>
                    <option value="08.00pm-10.00pm"></option>
                </select>
            </div>
            <div class="studentList">
                <div class="student">
                    Student
                </div>
                <select name="student" id="">
                    <option value="Nur Izzaty bt Ariffin">Nur Izzaty bt Ariffin</option>
                    <option value="Muhammad Danial b. Mohammad Rizwan">Muhammad Danial b. Mohammad Rizwan</option>
                    <option value="Muhammad Aidil Syazwan b. Hamdan">Muhammad Aidil Syazwan b. Hamdan</option>
                </select>
            </div>

        </div>
    </div>
</body>
</html>