<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Attendance</title>

    <link
			href="https://unpkg.com/gridjs/dist/theme/mermaid.min.css"
			rel="stylesheet"
		/>
		<!-- UNPKG -->
		<link href="https://unpkg.com/css.gg/icons/all.css" rel="stylesheet" />

		<link rel="stylesheet" href="../styles/global.css" />
		<link rel="stylesheet" href="../styles/class.css" />
</head>
<body>
    <div class="topbar">
        <div class="logo"></div>
        <nav class="nav">
          <a href="ManageClass.html">Class</a>
          <a href="#" class="active">Attendance</a>
          <a href="Report.html">Report</a>
          <a href="Notification.html">Notification</a>
        </nav>
        <div class="settings">
            <div class="noti"></div>
            <div class="user">
                <div class="photo"></div>
                <div class="name">Lorem ipsum dolor sit amet</div>
            </div>
        </div>
    </div>
    <div class="mcontainer">
    <h1>Salam world!</h1>
    </div>
  </div>

  <section>

    <br><br><br><br><br><br>

    <h1 style="text-align:center" margin-top="500px">Attendance</h1><hr>
    <br><br>

    <p>


      <center>

        <div class="table-wrapper-scroll-y my-custom-scrollbar">

          <p>
            <a id="links" align="right" value="Create Attendance" href="CreateAttendance.html">Create Attendance</a>
            <br><br>
          </p>

          <table class="table table-bordered table-striped mb-0">
            <table style="width:80%" border="margin-right: 400px; margin-left: 100px; ">

              <tr id="list">
                <td style="background-color:#bcbccc; color: black"><b>CLASS NAME</b></td>
                <td style="background-color:#bcbccc; color: black"><b>DATE</b></td>
                <td style="background-color:#bcbccc; color: black"><b>TIME SLOT</b></td>
                <td style="background-color:#bcbccc; color: black"><b>TOTAL STUDENT</b></td>
                <td colspan="2" style="background-color:#bcbccc; color: black"><b>ACTIONS</b></td>
              </tr>


              <!--
              <?php
              $n = 0;
              while($row=databasename_fetch_assoc($result))
              {
              $ClassName = $row['Class'];
              $Date = $row['Date'];
              $TimeSlot = $row['TimeSlot'];
              $TotalStudent = $row['TotalStudent'];
              ?>
              <tr id="list">
              <td><?php echo $# ?></td>
              <td><?php echo $# ?></td>
              <td><?php echo $#?></td>
              <td><?php echo $# ?></td>
              <td><a id="greenlinks" href="#?#=<?php echo $#?>">Edit</a></td>
              <td><a id="redlinks" onclick="#" href="#?#=<?php echo $# ?>">Delete</a></td>
            </tr>
            <?php
          }
          ?> -->

        </table><br>

      </div>
    </center>

  </section>
</body>
</html>
