<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Layout</title>

		<!-- UNPKG -->
		<link href="https://unpkg.com/css.gg/icons/all.css" rel="stylesheet" />
		<!-- <script
			src="https://kit.fontawesome.com/35298e8662.js"
			crossorigin="anonymous"
		></script> -->

		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
			crossorigin="anonymous"
		/>
		<link
			href="https://unpkg.com/gridjs/dist/theme/mermaid.min.css"
			rel="stylesheet"
		/>

		<link rel="stylesheet" href="../styles/global.css" />
		<link rel="stylesheet" href="../styles/addClass.css" />
	</head>

	<body>
		<div class="topbar">
			<div class="logo"></div>
			<nav class="nav">
				<a href="#" class="active">Class</a>
				<a href="Attendance.html">Attendance</a>
				<a href="Report.html">Report</a>
				<a href="Notification.html">Notification</a>
			</nav>
			<div class="settings">
				<div class="noti"></div>
				<div class="user">
					<div class="photo"></div>
					<div class="name">Lorem ipsum dolor sit amet</div>
				</div>
			</div>
		</div>
		<div class="mcontainer">
			<div class="classForm">
				<div class="itemForm">
					<div class="name">Class Name</div>
					<input
						type="text"
						name="className"
						id="className"
						class="inputForm"
					/>
				</div>
				<div class="itemForm">
					<div class="max">Max Student</div>
					<input
						class="inputForm"
						type="number"
						name="maxStudent"
						id="maxStudent"
					/>
				</div>
				<div class="itemForm">
					<div class="timeSlot">Time Slot #1</div>
					<select name="timeSlot1" id="timeSlot1" class="inputForm">
						<option value="08.00am-10.00am">08.00am-10.00am</option>
						<option value="10.00am-12.00pm">10.00am-12.00pm</option>
						<option value="12.00pm-02.00pm">12.00pm-02.00pm</option>
						<option value="02.00pm-04.00pm">02.00pm-04.00pm</option>
						<option value="04.00pm-06.00pm">04.00pm-06.00pm</option>
						<option value="08.00pm-10.00pm">08.00pm-10.00pm</option>
					</select>
				</div>
				<div class="itemForm">
					<div class="timeSlot">Time Slot #2</div>
					<select name="timeSlot2" id="timeSlot2" class="inputForm">
						<option value="08.00am-10.00am">08.00am-10.00am</option>
						<option value="10.00am-12.00pm">10.00am-12.00pm</option>
						<option value="12.00pm-02.00pm">12.00pm-02.00pm</option>
						<option value="02.00pm-04.00pm">02.00pm-04.00pm</option>
						<option value="04.00pm-06.00pm">04.00pm-06.00pm</option>
						<option value="08.00pm-10.00pm">08.00pm-10.00pm</option>
					</select>
				</div>
				<div class="listForm">
					<div class="studentTitle">Student</div>
					<select
						name="student"
						id="selectStd"
						class="inputForm"
						onchange="addStudent(value)"
					>
                    <option value="none" selected>- Select student -</option>
						<!-- <option value="Nur Izzaty bt Ariffin">
							Nur Izzaty bt Ariffin
						</option>
						<option value="Muhammad Danial b. Mohammad Rizwan">
							Muhammad Danial b. Mohammad Rizwan
						</option>
						<option value="Muhammad Aidil Syazwan b. Hamdan">
							Muhammad Aidil Syazwan b. Hamdan
						</option> -->
					</select>

					<div class="listStudent">
						<div class="count">
							<div class="title">Total Student</div>
							<div id="stdCount" class="tStudent">0</div>
						</div>
						<div id="studentTable">
							<!-- <div class="stud">
								<div class="studName">
									Nur Izzaty bt Ariffin
								</div>
								<div class="deleteButton">
									<i class="fa-solid fa-xmark-large"></i>
								</div>
							</div> -->
						</div>
					</div>
				</div>
				<div class="button" onclick="submit()">Submit</div>
			</div>
		</div>

		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
			crossorigin="anonymous"
		></script>

		<script>
			const table = document.querySelector("#studentTable");
			const select = document.querySelector("#selectStd");
			const count = document.querySelector("#stdCount");

			let id = 0;
			let c = 0;
			const stds = {};

			function addStudent(value) {
				if (value === "none") return;

				appendStudent(value);
				count.innerHTML = ++c;

				stds[value].selected = true;

				select.remove(select.selectedIndex);
			}

			function removeStudent(id) {
				const item = table.querySelector(`#${id}`);
				let name = item
					.querySelector(".studName")
					.innerHTML.replace(/^\s+|\s+$/g, "");

				appendStudentIntoList(name);

				stds[name].selected = false;

				item.remove();

				count.innerHTML = --c;
			}

			function appendStudent(name) {
				const html = `
                <div class="stud" id="std-${id}">
                    <div class="studName">
                        ${name}
                    </div>
                    <div class="deleteButton" onclick="removeStudent('std-${id++}')">
                        <button type="button" class="btn-close" aria-label="Close"></button>
                    </div>
                </div>`;

				table.innerHTML += html;
			}

			function appendStudentIntoList(name) {
				const html = `
                    <option value="${name}">${name}</option>
                `;

				select.innerHTML += html;
			}

			async function submit() {
				const user = JSON.parse(localStorage.getItem("user"));

				const name = document.querySelector("#className").value;
				const teacherId = user.id;
				const maxStudent = document.querySelector("#maxStudent").value;
				const timeslot1 = document.querySelector("#timeSlot1").value;
				const timeslot2 = document.querySelector("#timeSlot2").value;
				const students = Object.keys(stds)
					.filter((key) => stds[key].selected)
					.map((key) => stds[key].id);

                console.log(students);
/* 
				const req = await fetch("http://localhost:3000/api/class/add", {
					method: "POST",
					headers: {
						"Content-Type": "application/json",
					},
					body: JSON.stringify({
						name,
						teacherId,
						maxStudent,
						timeslots: [timeslot1, timeslot2],
						students,
					}),
				});

				if (req.status === 200) {
					alert("Class added successfully");
				} else {
					alert("Something went wrong");
				} */
			}

			window.onload = async () => {
				try {
					const classId = localStorage.getItem("classId");

					let req = await fetch(
						`http://localhost:3000/api/class/${classId}`
					);

					if (req.status === 200) {
						const _class = await req.json();

						document.getElementById("className").value =
							_class.class.name;
						document.getElementById("maxStudent").value =
							_class.class.maxStudent;

						for (let std of _class.students) {
							/* appendStudent(std.name); */

							stds[std.name] = {
								id: std._id,
								selected: false,
							};

							appendStudent(std.name);

							count.innerHTML = ++c;

							stds[std.name].selected = true;

							/* select.remove(select.selectedIndex); */
						}
					}

					req = await fetch(
						"http://localhost:3000/api/class/student/get"
					);

					if (req.status === 200) {
						const { students } = await req.json();

						for (let student of students) {
                            if (stds[student.name] === undefined) {
                                stds[student.name] = {
                                    id: student._id,
                                    selected: false,
                                };
								appendStudentIntoList(student.name);
							}
						}
					}
				} catch (e) {
					console.log(e.stack);
				}
			};
		</script>
	</body>
</html>
