<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Layout</title>

		<link
			href="https://unpkg.com/gridjs/dist/theme/mermaid.min.css"
			rel="stylesheet"
		/>
		<!-- UNPKG -->
		<link href="https://unpkg.com/css.gg/icons/all.css" rel="stylesheet" />

		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
			integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
			crossorigin="anonymous"
		/>

		<script src="https://kit.fontawesome.com/646cc00c51.js" crossorigin="anonymous"></script>

		<link rel="stylesheet" href="../styles/global.css" />
		<link rel="stylesheet" href="../styles/class.css" />
	</head>

	<body>
		<div class="topbar">
			<div class="logo"></div>
			<nav class="nav">
				<a href="ManageClass.html" class="active">Class</a>
				<a href="Attendance.html">Attendance</a>
				<a href="Report.html">Report</a>
			</nav>
			<div class="settings">
				<button id="notinav" type="button" class="noti btn btn-primary position-relative">
					<i class="fa-solid fa-bell"></i>
					<span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
					  99+
					</span>
				  </button>
				<div class="user">
					<div class="photo">
						<i class="fa-solid fa-user"></i>
					</div>
					<div class="name" id="name">Lorem ipsum dolor sit amet</div>
				</div>
			</div>
		</div>
		<div class="mcontainer">
			<div class="contHeader">
				<div class="contTitle">Manage Class</div>

				<!-- <button
					class="contButton"
					data-mdb-toggle="modal"
					data-mdb-target="#exampleModal"
				>
					Add New Class
				</button> -->
				<a type="button" class="contButton" href="./AddNewClass.html">
					Add New Class
				</a>
			</div>

			<div class="contTable">
				<div id="table"></div>
			</div>
		</div>

		<!-- Modal -->
		<!-- Modal -->
		<div
			class="modal fade"
			id="exampleModalCenter"
			tabindex="-1"
			role="dialog"
			aria-labelledby="exampleModalCenterTitle"
			aria-hidden="true"
		>
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLongTitle">
							Modal title
						</h5>
						<button
							type="button"
							class="close"
							data-dismiss="modal"
							aria-label="Close"
						>
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="modalCont">
							<select name="student" id="stdList"></select>
						</div>
					</div>
					<div class="modal-footer">
						<button
							type="button"
							class="btn btn-secondary"
							data-dismiss="modal"
						>
							Close
						</button>
						<button id="addStdBtn" type="button" class="btn btn-primary">
							Add Student
						</button>
					</div>
				</div>
			</div>
		</div>

		<script
			src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
			integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
			crossorigin="anonymous"
		></script>
		<script
			src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
			integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
			crossorigin="anonymous"
		></script>
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
			integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
			crossorigin="anonymous"
		></script>

		<script src="../js/global.js"></script>

		<script type="module">
			import { Grid, html } from "https://unpkg.com/gridjs?module";

			let activeClass = '';

			try {
				const user = JSON.parse(localStorage.getItem("user"));

				document.querySelector("#name").innerHTML = user.name;
			} catch (e) {
				console.log(e);
			}

			async function addStudent() {
				try {
					const stdId = document.querySelector("#stdList").value;

					console.log(stdId);

					const req = await fetch(
						"http://localhost:3000/api/class/student/add",
						{
							method: "POST",
							headers: {
								"Content-Type": "application/json",
							},
							body: JSON.stringify({
								stdId,
								classId: activeClass,
							}),
						}
					);

					if (req.status === 200) {
						alert("Student Added");
						location.reload();
					} else {
						alert("Something Went Wrong");
					}
				} catch (e) {
					console.log(e);
				}
			}

			async function deleteClass(classId) {
				console.log(classId);
				try {
					const req = await fetch(
						"http://localhost:3000/api/class/delete",
						{
							method: "POST",
							headers: {
								"Content-Type": "application/json",
							},
							body: JSON.stringify({
								classId
							}),
						}
					);

					if (req.status === 200) {
						alert("Class Deleted");
						window.location.reload();
					} else {
						alert("Something Went Wrong");
					}
				} catch (e) {
					console.log(e);
				}
			}

			window.onload = async () => {
				document.querySelector('#addStdBtn').addEventListener('click', addStudent);

				let req = await fetch("http://localhost:3000/api/class/get");
				
				if (req.status === 200) {
					const { classes } = await req.json();
					
					const ids = []
					const data = [];
					
					for (let c of classes) {
						data.push([
							c.class.name,
							c.class.timeSlot.join(" @ "),
							c.total,
							c.class.maxStudent,
							html(
								`<div class='actions'>
									<div id="edit_${c.class._id}" class='action' onclick="location.href='./EditClass.html'" >
										<i class='gg-pen'></i>
									</div>
									<div id="btn_${c.class._id}" class='action' data-toggle='modal' data-target='#exampleModalCenter'>
										<i class='gg-user-add'></i>
									</div><div id="del_${c.class._id}" class='action'>
										<i class='gg-trash'></i>
									</div>
								</div>`
							),
						]);

						ids.push(c.class._id);
					}

					let stds = await fetch(
						"http://localhost:3000/api/class/students/get"
					);

					if (stds.status === 200) {
						const { students } = await stds.json();

						let i = 0;
						document.querySelector("#stdList").innerHTML = students
							.map((std) => {
								return `<option value="${std._id}" ${(i++ === 0 && 'selected' || '')}>${std.name}</option>`;
							})
							.join("");
					}

					new Grid({
						columns: [
							{
								name: "Class name",
								width: "40%",
							},
							{
								name: "Slot time",
								width: "20%",
							},
							{
								name: "Total students",
								width: "10%",
							},
							{
								name: "Max student",
								width: "10%",
							},
							{
								name: "Action",
								width: "20%",
							},
						],
						data,
					}).render(document.getElementById("table"));

					setTimeout(() => {
						for (let id of ids) {
							document.querySelector(`#edit_${id}`).addEventListener('click', () => {
								localStorage.setItem('classId', id);
							});
							document.querySelector(`#btn_${id}`).addEventListener('click', () => {
								activeClass = id;
							});
							document.querySelector(`#del_${id}`).addEventListener('click', () => {
								deleteClass(id);
							});
						}

					}, 0);
				}
			};
		</script>
	</body>
</html>
