<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout</title>

    <link href="https://unpkg.com/gridjs/dist/theme/mermaid.min.css" rel="stylesheet" />
    <!-- UNPKG -->
<link href='https://unpkg.com/css.gg/icons/all.css' rel='stylesheet'>

    <link rel="stylesheet" href="../styles/global.css">
    <link rel="stylesheet" href="../styles/class.css">
</head>

<body>
    <div class="topbar">
        <div class="logo"></div>
        <nav class="nav">
            <a href="#" class="active">Class</a>
            <a href="about.php">Attendance</a>
            <a href="contact.php">Report</a>
        </nav>
        <div class="settings">
            <div class="noti"></div>
            <div class="user">
                <div class="photo"></div>
                <div class="name">Lorem ipsum dolor sit amet</div>
            </div>
        </div>
    </div>
    <div class="container">

        <div class="contHeader">
            <div class="contTitle">
                Manage Class
            </div>

            <div class="contButton">
                Add New Class
            </div>

        </div>

        <div class="contTable">
            <div id="table"></div>
            
        </div>


    </div>

    <script type="module">
        import {
            Grid,
            html
        } from "https://unpkg.com/gridjs?module";

        new Grid({
            columns: [{
                name: "Class name",
                width: "40%"
            }, {
                name: "Slot time",
                width: "20%"
            }, {
                name: "Total students",
                width: "10%"
            }, {
                name: "Max student",
                width: "10%"
            }, {
                name: "Action",
                width: "20%"
            }],
            data: [
                ["John", "john@example.com", "35", "50", html("<div class='actions'><div class='action'><i class='gg-pen'></i></div><div class='action'><i class='gg-user-add'></i></div><div class='action'><i class='gg-trash'></i></div></div>")],
                ["John", "john@example.com", "35", "50", html("<div class='actions'><div class='action'><i class='gg-pen'></i></div><div class='action'><i class='gg-user-add'></i></div><div class='action'><i class='gg-trash'></i></div></div>")],
                ["John", "john@example.com", "35", "50", html("<div class='actions'><div class='action'><i class='gg-pen'></i></div><div class='action'><i class='gg-user-add'></i></div><div class='action'><i class='gg-trash'></i></div></div>")],
                ["John", "john@example.com", "35", "50", html("<div class='actions'><div class='action'><i class='gg-pen'></i></div><div class='action'><i class='gg-user-add'></i></div><div class='action'><i class='gg-trash'></i></div></div>")],
                ["John", "john@example.com", "35", "50", html("<div class='actions'><div class='action'><i class='gg-pen'></i></div><div class='action'><i class='gg-user-add'></i></div><div class='action'><i class='gg-trash'></i></div></div>")],
                ["John", "john@example.com", "35", "50", html("<div class='actions'><div class='action'><i class='gg-pen'></i></div><div class='action'><i class='gg-user-add'></i></div><div class='action'><i class='gg-trash'></i></div></div>")],
                ["John", "john@example.com", "35", "50", html("<div class='actions'><div class='action'><i class='gg-pen'></i></div><div class='action'><i class='gg-user-add'></i></div><div class='action'><i class='gg-trash'></i></div></div>")],
            ]
        }).render(document.getElementById("table"));
    </script>
</body>

</html>