<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout</title>

    <link rel="stylesheet" href="../styles/global.css">
</head>
<body>
    <div class="topbar">
        <div class="logo"></div>
        <nav class="nav">
            <a href="#" class="active">Class</a>
            <a href="about.php">Attendance</a>
            <a href="contact.php">Report</a>
        </nav>
        <div class="settings">
            <div class="noti"></div>
            <div class="user">
                <div class="photo"></div>
                <div class="name">Lorem ipsum dolor sit amet</div>
            </div>
        </div>
    </div>
    <div class="container">

    </div>
</body>
</html>