<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>No Absence Notification Page</title>

		<link
			href="https://unpkg.com/gridjs/dist/theme/mermaid.min.css"
			rel="stylesheet"
		/>
		<!-- UNPKG -->
		<link href="https://unpkg.com/css.gg/icons/all.css" rel="stylesheet" />

		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
			crossorigin="anonymous"
		/>

		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
			integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
			crossorigin="anonymous"
		/>

		<script src="https://kit.fontawesome.com/646cc00c51.js" crossorigin="anonymous"></script>

		<link rel="stylesheet" href="../styles/global.css" />
		<link rel="stylesheet" href="../styles/class.css" />
		<link rel="stylesheet" type="text/css" href="noti.css" />
		<link rel="stylesheet" href="../styles/noti.css" />
	</head>
	<body>
		<div class="topbar">
			<div class="logo"></div>
			<nav class="nav">
				<a href="ManageClass.html">Class</a>
				<a href="Attendance.html">Attendance</a>
				<a href="Report.html" class="active">Report</a>
			</nav>
			<div class="settings">
				<button
					id="notinav"
					type="button"
					class="noti btn btn-primary position-relative"
				>
					<i class="fa-solid fa-bell"></i>
					<span
						class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
					>
						99+
					</span>
				</button>
				<div class="user">
					<div class="photo">
						<i class="fa-solid fa-user"></i>
					</div>
					<div class="name" id="name">Lorem ipsum dolor sit amet</div>
					<div class="logout" onclick="logout()"><i class="gg-log-out"></i></div>
				</div>
			</div>
		</div>
		<!-- <div class="undo">
			<div class="text"></div>
		</div> -->
		<div class="mcontainer" style="padding-top: 130px">
			<div class="heading">
				<div class="title">
					<h3>Notification</h3>
				</div>
				<div class="actions">
					<div class="button" onclick="toBin()">
						<i class="gg-trash"></i>Recycle bin<span
						id="binsize"
							class="badge text-bg-secondary"
							>1</span
						>
					</div>
				</div>
			</div>

			<div class="accordion accordion-flush" id="notis">
				
			
			</div>
		</div>
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
			crossorigin="anonymous"
		></script>
		<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
		<script src="../js/global.js"></script>
		<script>
			let id = 0;

			if (localStorage.getItem("user") == null) {
				window.location.href = "index.html";
			}

			async function moveToBin(id) {
				const res = await fetch('http://localhost:3000/api/notification/tobin/'+id);

				if (res.status === 200) {
					await Swal.fire({
						title: "Success",
						text: "Notification moved to recycle bin",
						icon: "success",
						showConfirmButton: false,
						timer: 1500
					});

					window.location.reload();
				} else {
					Swal.fire({
						title: "Error",
						text: "Something went wrong",
						icon: "error",
						showConfirmButton: false,
						timer: 1500
					});
					console.log(res);
				}
			}

			try {
				const user = JSON.parse(localStorage.getItem("user"));

				document.querySelector("#name").innerHTML = user.name;

				(async () => {
					const res = await fetch('http://localhost:3000/api/notification/binsize');

					if (res.status === 200) {
						const data = await res.json();
						console.log(data);
						document.querySelector('#binsize').innerHTML = await data.binSize;
					}

					let response = await fetch(
						"http://localhost:3000/api/notification/get",
					);

					if (response.status === 200) {
						const data = await response.json();

						const noti = document.querySelector("#notis");
						
						for (let i of data.notifications) {
							if (i.status === 'bin') {
								continue;
							}

							noti.innerHTML += 
							`
							<div class="accordion-item ">
								<h2 class="accordion-header" id="flush-headingOne">
									<button
										class="accordion-button collapsed"
										type="button"
										data-bs-toggle="collapse"
										data-bs-target="#flush-collapseOne"
										aria-expanded="false"
										aria-controls="flush-collapseOne"
									>
										${i.title}
									</button>
								</h2>
								<div
									id="flush-collapseOne"
									class="accordion-collapse collapse"
									aria-labelledby="flush-headingOne"
									data-bs-parent="#accordionFlushExample"
								>
									<div class="noti-actions">
										<div class="action"><i class="gg-check"></i></div>
										<div class="action" style="background: red" id="btn-${++id}">
											<i class="gg-trash"></i>
										</div>
									</div>
									<div class="accordion-body">
										${i.content}
									</div>
								</div>
							</div>
							`

							document.querySelector(`#btn-${id}`).addEventListener('click', () => {
								moveToBin(i._id);
							});
						}
						
					}
					
					
				})();
			} catch (e) {
				console.log(e);
			}

			function toBin() {
				window.location.href = "/view/teacher/NotificationRecycleBin.html";
			}
		</script>
	</body>
</html>
