<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Report</title>

        <link
			href="https://unpkg.com/gridjs/dist/theme/mermaid.min.css"
			rel="stylesheet"
		/>
		<!-- UNPKG -->
		<link href="https://unpkg.com/css.gg/icons/all.css" rel="stylesheet" />

		<link rel="stylesheet" href="../styles/global.css" />
		<link rel="stylesheet" href="../styles/report.css" />
	</head>
	<body>
		<div class="topbar">
			<div class="logo"></div>
			<nav class="nav">
				<a href="ManageClass.html">Class</a>
				<a href="Attendance.html">Attendance</a>
				<a href="#" class="active">Report</a>
			</nav>
			<div class="settings">
				<div class="noti"></div>
				<div class="user">
					<div class="photo"></div>
					<div class="name">Lorem ipsum dolor sit amet</div>
				</div>
			</div>
		</div>
		<div class="mcontainer">

            <!-- 
                top analysis
                    - students
                    - attendance data completeness
                    - attendance rate

                attendance rate
                attendance completeness

                absense list
             -->
            <div class="report">
                <div class="main">
                    <div class="numbers">
                        <div class="item">
                            <div class="value">
                                <span>
                                    1337
                                </span>
                            </div>
                            <div class="title">Students enrolled</div>
                        </div>
                        <div class="seperator"></div>
                        <div class="item-b">
                            <div class="item-sub">
                                <div class="value">
                                    <span>
                                        1337
                                    </span>
                                </div>
                                <div class="title">Total attend</div>
                            </div>
                            <div class="item-main">
                                <div class="value">
                                    <span>
                                        1337
                                    </span>
                                </div>
                                <div class="title">Attendance rate</div>
                            </div>
                            <div class="item-sub">
                                <div class="value">
                                    <span>
                                        1337
                                    </span>
                                </div>
                                <div class="title">Total absense</div>
                            </div>
                            
                        </div>
                        <div class="seperator"></div>
                        <div class="item">
                            <div class="value">
                                <span>
                                    1337
                                </span>
                            </div>
                            <div class="title">Attendance date completeness</div>
                        </div>
                    </div>
                    <div class="charts"></div>
                </div>
                
                <div class="side"></div>
            </div>
        </div>
	</body>
</html>
