.mcontainer {
    padding: 160px 40px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    background-color: #f5f8e8;
}

.classForm {
    padding: 20px;
    width: 100%;
    /* From https://css.glass */
    background: rgba(222, 219, 210, 0.50);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(7.4px);
    -webkit-backdrop-filter: blur(7.4px);
    border: 1px solid rgba(255, 255, 255, 0.33);

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
    
}

.itemForm:nth-child(odd){
    flex: 0 0 40%;
    

}

.itemForm:nth-child(even){
    flex: 0 0 50%;
}

.listForm{
    padding: 20px 50px;
    width: 100%;
}

.inputForm{
    width: 100%;
    height: 40px;
    border-radius: 8px;
    
    border: none;
    border-bottom: solid 2px #009480;;
    margin-top: 20px;
    background-color: transparent;
}

.listStudent{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */

    border: solid 1px #009480;
    border-radius: 5px;
}

.count{
    padding: 10px 20px;
    width: 100%;
    background-color: #009480;;
    color: #f5f8e8;

    display: flex;
    justify-content: flex-end;
    gap:10px;
}

#studentTable{
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    gap: 15px;

    padding: 15px;
}

.stud{
    width: fit-content;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    gap: 10px;

    border: solid 1px #009480;
    border-radius: 5px;
    
}


.but{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;

    padding-right: 50px;
}

.but .err-msg {
    color: red;
}

.button{
    padding: 15px 40px;
    background-color: #009480;

    border-radius: 8px;
    cursor: pointer;
    color: #f5f8e8;
    border: 2px solid #009480;

    transition: 0.3s all;
}

.button.disabled {
    opacity: .3;

    cursor: default;
}

.button:hover{
    background-color: #f5f8e8;
    color: #009480;
    border: 2px solid #009480;

}

.dd-item {
    padding: 10px 0;
    padding-left: 10px;

}