.mcontainer{
    padding: 160px 40px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    height: 100vh;
    background-color: #f5f8e8;
}

.contHeader{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    padding: 0 20px;
}

.contTitle{
    justify-content: center;
}

.contButton{
    padding: 20px 30px;
    display: flex;
    height: 50px;
    background: #313715;
    color: #f5f8e8;
    border-radius: 10px;
    text-align: center;
    align-items: center;
    border: 2px solid #313715;

    transition: 0.3s all;
    
}

.contButton:hover {
    text-decoration: none;
    color: #313715;
    background-color: #f5f8e8;
    border: 2px solid #313715;
   font-weight: bold;


}

.contTable{
    width: 100%;
    height: fit-content;
    display: flex;
    flex: wrap;
    padding: 20px;
    flex-direction: column;

    background: rgba(222, 219, 210, 0.50);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(7.4px);
    -webkit-backdrop-filter: blur(7.4px);
    border: 1px solid rgba(255, 255, 255, 0.33);
}


.actions {
    display: flex;
    gap: 15px;

    align-items: center;
}

.actions .action {
    border: 2px solid gold;

    height: 35px;
    width: 35px;

    border-radius: 8px;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

i {
    font-size: 20px !important;
}
/* .tabContent {
    width: 100%;
} */

