@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    background-color: #f5f8e8;
}

.topbar {
    position: fixed;
    top: 0;
    left: 0;

    background: white;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);

    height: 100px;
    width: 100%;

    display: flex;
    justify-content: space-between;

    z-index: 999;
}

.logo {
    position: absolute;
    bottom: -35%;
    left: 100px;
    
    width: 120px;
    height: 120px;

    background: url('../res/logo.png');
    background-size: cover;
    background-position: center;

    border-radius: 50%;

    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.4);
}

.nav {
    display: flex;

    margin-left: 350px;
    height: 100%;

    align-items: flex-end;

    gap: 50px;
}

.nav a {
    padding-bottom: 20px;

    text-decoration: none;
    color: black;

    transition: .3s all;

    border-bottom: 3px solid transparent;

    margin-bottom: 5px;
}

.nav a:hover {
    color: #009480;
}

.nav a.active {
    border-bottom: 3px solid #009480;
}

.settings {
    display: flex;

    height: 100%;

    align-items: center;

    gap: 30px;

    padding: 20px;
    padding-right: 50px;
}

.settings .noti {
    color: white;

    background: #009480;
}

.settings .user {
    height: 30px;
    width: 300px;

    display: flex;
    align-items: center;

    gap: 10px;
}

.settings .photo {
    background: #009480;

    height: 60px;
    width: 60px;

    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;


    color: white;
}

.mcontainer{
    padding: 160px 40px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    height: 100%;
    background-color: #f5f8e8;
}