.report {
	width: 100%;

	display: flex;

	padding: 0 100px;
	padding-top: 180px;

	gap: 50px;
}

.report .main {
	display: flex;
	flex-direction: column;

	gap: 20px;

	flex: 1 1 60%;
}

.report .side {
	display: flex;
	flex-direction: column;

	flex: 1 1 40%;
}

.report .numbers {
	display: flex;

	width: 100%;

	justify-content: space-between;
}

.report .numbers .seperator {
	width: 2px;
	height: 100%;

	opacity: 0.5;

	background-color: grey;
}

.report .numbers .item {
	display: flex;
	flex-direction: column;

	justify-content: flex-end;

	flex: 1 1 30%;
}

.report .numbers .item-b {
	display: flex;

	width: 100%;
	justify-content: space-around;

	align-items: flex-end;
}

.report .numbers .item-b .item-sub {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.report .numbers .item .value {
	font-size: 40px;
	text-align: center;
}

.report .numbers .item .title {
	font-size: 18px;
	text-align: center;
}

.report .numbers .item-b .item-main .value {
	font-size: 55px;
}

.report .numbers .item-b .item-main .title {
	font-size: 18px;
}

.report .numbers .item-b .item-sub .value {
	font-size: 25px;
}

.report .numbers .item-b .item-sub .title {
	font-size: 14px;
	padding-bottom: 2px;
}

.report .numbers .item-b .item-main {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.attRateChart {
	width: 100%;
	height: 500px;
}
