<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Lecturer</title>

    <link rel="stylesheet" href="./styles/global.css">
    <link rel="stylesheet" href="./styles/admin.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
    <div class="topbar">
        <div class="logo"></div>
        <nav class="nav">
            <a href="admin_dashboard.html" >Dashboard</a>
            <a href="student_view.html" >Student</a>
            <a href="lecturer_view.html" class="active">Lecturer</a>
            <a href="ManageClass.html">Class</a>
            <a href="Report.html">Report</a>
        </nav>
        <div class="settings">
            <div class="noti"></div>
            <div class="user">
                <div class="photo"></div>
                <div class="name">Lorem ipsum dolor sit amet</div>
            </div>
        </div>
    </div>
    <div class="mcontainer" style="padding-top: 150px;">
        <section class="dashboard">
            <form action="lecturer_view.html">
            
                <br><br>
                <h2 style="text-align:center"><b>Add New Lecturer</b></h2>
                <p style = "font-size: 15px; color:grey; text-align: center;">Fill in all new lecturer details in the fields</p>
                <br>
                <input type="text" id="lec_name" name="lec_name" placeholder="Lecturer Name" required/><br/>
                <input type="email" id="lec_email" name="lec_email" placeholder="Lecturer Email" required/><br/>
                <input type="text" id="lec_pass" name="lec_pass" placeholder="Password" required/><br/>
                <br>
                <br>
                <Button type="submit" name="submit" onclick="link()">Add New Lecturer</button>
            
            </form>
        </section>
    </div>
    <script type="text/javascript">
        function link(){
            window.location = "lecturer_view.html";
        }
    
    </script>
    
</body>
</html>