<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Edit Student</title>

		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
			integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
			crossorigin="anonymous"
		/>

		<script
			src="https://kit.fontawesome.com/646cc00c51.js"
			crossorigin="anonymous"
		></script>

		<link rel="stylesheet" href="./styles/global.css" />
		<link rel="stylesheet" href="./styles/admin.css" />
		<link
			rel="stylesheet"
			href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"
		/>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
		/>
	</head>
	<body>
		<div class="topbar">
			<div class="logo"></div>
			<nav class="nav">
				<a href="StudentView.html" class="active">Student</a>
				<a href="TeacherView.html">Teacher</a>
				<a href="/teacher/ManageClass.html">Class</a>
			</nav>
			<div class="settings">
				<button
					id="notinav"
					type="button"
					class="noti btn btn-primary position-relative"
				>
					<i class="fa-solid fa-bell"></i>
					<span
						class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
					>
						99+
					</span>
				</button>
				<div class="user">
					<div class="photo">
						<i class="fa-solid fa-user"></i>
					</div>
					<div class="name" id="name">Lorem ipsum dolor sit amet</div>
				</div>
			</div>
		</div>
		<div class="mcontainer" style="padding-top: 150px">
			<section class="dashboard">
				<form id="form">
					<br /><br />
					<h2 style="text-align: center"><b>Edit Student</b></h2>
					<p style="font-size: 15px; color: grey; text-align: center">
						Fill in all new student details in the fields
					</p>
					<br />
					<input
						type="text"
						id="std_name"
						name="std_name"
						placeholder="Student Name"
						required
					/><br />
					<!-- <br>
                <input type="text" id="std_id" name="std_id" placeholder="Student ID" required/><br/> -->

					<br />
					<br />
					<button type="submit" name="submit">Update Student</button>
				</form>
			</section>
		</div>
		<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
		<script type="text/javascript">
			function link() {
				window.location = "StudentView.html";
			}

			async function edit(e) {
				e.preventDefault();

				const id = window.location.search.substring(1).split("=")[1];
				const name = document.getElementById("std_name").value;

				const req = await fetch(`http://localhost:3000/api/class/std/update`, {
					method: "POST",
					headers: {
						"Content-Type": "application/json"
					},
					body: JSON.stringify({
						name: name,
						id
					})
				});

				if (req.status === 200) {
					Swal.fire({
						title: "Success",
						text: "Student updated successfully",
						type: "success",
						confirmButtonText: "OK"
					});
					link();
				} else {
					Swal.fire({
						title: "Error",
						text: "Student not updated",
						type: "error",
						confirmButtonText: "OK"
					});
				}

				return false;
			}

			const form = document.querySelector("#form");

			form.addEventListener("submit", edit);

			window.onload = async () => {
				const req = await fetch("http://localhost:3000/api/class/student/"+window.location.search.substring(1).split("=")[1]);

				if (req.status === 200) {
					const {student} = await req.json();

					document.querySelector("#std_name").value = student.name;
				}
			};
		</script>
	</body>
</html>
