<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student View</title>

    <link rel="stylesheet" href="./styles/global.css">
    <link rel="stylesheet" href="./styles/admin.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link href="https://unpkg.com/css.gg/icons/all.css" rel="stylesheet" />
    <link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
			integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
			crossorigin="anonymous"
		/>

		<script src="https://kit.fontawesome.com/646cc00c51.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="topbar">
        <div class="logo"></div>
        <nav class="nav">
            <a href="/view/StudentView.html" class="active">Student</a>
            <a href="/view/TeacherView.html">Teacher</a>
        </nav>
        <div class="settings">
            <button
                id="notinav"
                type="button"
                class="noti btn btn-primary position-relative"
            >
                <i class="fa-solid fa-bell"></i>
                <span
                    class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
                >
                    99+
                </span>
            </button>
            <div class="user">
                <div class="photo">
                    <i class="fa-solid fa-user"></i>
                </div>
                <div class="name" id="name">Lorem ipsum dolor sit amet</div>
                <div class="logout" onclick="logout()"><i class="gg-log-out"></i></div>
            </div>
        </div>
    </div>
    <div class="mcontainer" style="padding-top: 150px;">
        <section class="dashboard">
            <div class="dash-content">
                <div class="overview">
                    
        <div class="contentHead">
            <div class="title">
                <i class="uil uil-book-reader"></i>
                <span class="text">Students</span>
            </div>
            <div class="cont">
                <button><a href="AddStudent.html" title="Add New Student">
                <i class="fa fa-plus" aria-hidden="true"></i> Add New Student
                </a></button>
            </div>
        </div>
        
        <table class="table table-striped table-condensed" id="tblData">
            <thead>
            <tr>
                <th>No.</th>
                <th>Student Name</th>
                <th>Actions</th>
            </tr>
            </thead>
            <!-- database looping here -->
            <tbody id="list">
            
            </tbody>       
        </table>
    </div>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="./js/global.js"></script>
    <script>
        if (localStorage.getItem("user") == null) {
            window.location.href = "index.html";
        }

        async function deleteStudent(id) {
            const conf = confirm("Are you sure?");
            if(conf == true){
                const req = await fetch(`http://localhost:3000/api/class/student/delete/${id}`, {
                    method: 'DELETE',
                    headers: {
                        'Content-Type': 'application/json'
                    }
                });

                if (req.status === 200) {
                    Swal.fire({
                        title: 'Success',
                        text: 'Student Deleted',
                        icon: 'success',
                        confirmButtonText: 'OK'
                    });
                    window.location.reload();
                } else {
                    Swal.fire({
                        title: 'Error',
                        text: 'Something went wrong',
                        icon: 'error',
                        confirmButtonText: 'OK'
                    });
                }
            }
            
        }

        async function editStudent(id) {
            window.location.href = 'EditStudent.html?id=' + id;
        }

        window.onload = async () => {
            const req = await fetch('http://localhost:3000/api/class/students/get');

            const {students} = await req.json();

            let x = 0;
            for (let student of students) {
                document.querySelector('#list').innerHTML += `
                    <tr>
                        <td class="solid">${++x}</td>
                        <td class="solid">${student.name}</td>
                        <td class="solid">
                            <button class="btn btn-primary" onclick="editStudent('${student._id}')"><i class="fa fa-pen"></i></button>
                            <button class="btn btn-primary" onclick="deleteStudent('${student._id}')"><i class="fa fa-trash"></i></button>
                        </td>
                    </tr>`;
            }
        }
    </script>
</body>
</html>