<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student View</title>

    <link rel="stylesheet" href="./styles/global.css">
    <link rel="stylesheet" href="./styles/admin.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    
    <link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
			integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
			crossorigin="anonymous"
		/>

		<script src="https://kit.fontawesome.com/646cc00c51.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="topbar">
        <div class="logo"></div>
        <nav class="nav">
            <a href="StudentView.html" class="active">Student</a>
            <a href="TeacherView.html">Teacher</a>
        </nav>
        <div class="settings">
            <button id="notinav" type="button" class="noti btn btn-primary position-relative">
                <i class="fa-solid fa-bell"></i>
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                  99+
                </span>
              </button>
            <div class="user">
                <div class="photo">
                    <i class="fa-solid fa-user"></i>
                </div>
                <div class="name" id="name">Lorem ipsum dolor sit amet</div>
            </div>
        </div>
    </div>
    <div class="mcontainer" style="padding-top: 150px;">
        <section class="dashboard">
            <div class="dash-content">
                <div class="overview">
                    <div class="title">
                        <i class="uil uil-book-reader"></i>
                        <span class="text">Students</span>
                    </div>
    
        <form action="student_view.php" method="POST">
            <div>
                <div class="search">
                    <input type="text" class="searchTerm" name="valueToSearch"  placeholder="Search for Student Name ...">
                    <button class="searchButton" type="submit" name="search_btn" value="Search"><i class="fa fa-search"></i></button> 
                </div>
            </div>
        </form>
        <br>
        <div class="cont">
            <button><a href="AddStudent.html" title="Add New Student">
            <i class="fa fa-plus" aria-hidden="true"></i> Add New Student
            </a></button>
        </div>
        <table class="table table-striped table-condensed" id="tblData">
            <thead>
            <tr>
                <th>No.</th>
                <th>Student Name</th>
                <th>Actions</th>
            </tr>
            </thead>
            <!-- database looping here -->
            <tbody id="list">
            
            </tbody>       
        </table>
    </div>

    <script>
        async function deleteStudent(id) {
            const conf = confirm("Are you sure?");
            if(conf == true){
                const req = await fetch(`http://localhost:3000/api/class/student/delete/${id}`, {
                    method: 'DELETE',
                    headers: {
                        'Content-Type': 'application/json'
                    }
                });

                if (req.status === 200) {
                    alert("Student Deleted");
                    window.location.reload();
                } else {
                    alert("Error");
                }
            }
            
        }

        window.onload = async () => {
            const req = await fetch('http://localhost:3000/api/class/student/get');

            const {students} = await req.json();

            let x = 0;
            for (let student of students) {
                document.querySelector('#list').innerHTML += `
                    <tr>
                        <td class="solid">${++x}</td>
                        <td class="solid">${student.name}</td>
                        <td class="solid">
                            <button class="btn btn-primary" onclick="deleteStudent('${student._id}')"><i class="fa fa-trash"></i></button>
                        </td>
                    </tr>`;
            }
        }
    </script>
</body>
</html>