<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lecturer View</title>

    <link rel="stylesheet" href="./styles/global.css">
    <link rel="stylesheet" href="./styles/admin.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
    <div class="topbar">
        <div class="logo"></div>
        <nav class="nav">
            <a href="StudentView.html">Student</a>
            <a href="TeacherView.html" class="active">Teacher</a>
            <a href="/teacher/ManageClass.html">Class</a>
        </nav>
        <div class="settings">
            <button id="notinav" type="button" class="noti btn btn-primary position-relative">
                <i class="fa-solid fa-bell"></i>
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                  99+
                </span>
              </button>
            <div class="user">
                <div class="photo">
                    <i class="fa-solid fa-user"></i>
                </div>
                <div class="name" id="name">Lorem ipsum dolor sit amet</div>
            </div>
        </div>
    </div>
    <div class="mcontainer" style="padding-top: 150px;">
        <section class="dashboard">
            <div class="dash-content">
                <div class="overview">
                    <div class="title">
                        <i class="fa fa-user-circle"></i>
                        <span class="text">Lecturers</span>
                    </div>
    
        <form action="lecturer_view.html" method="POST">
            <div>
                <div class="search">
                    <input type="text" class="searchTerm" name="valueToSearch"  placeholder="Search for Lecturer Name ...">
                    <button class="searchButton" type="submit" name="search_btn" value="Search"><i class="fa fa-search"></i></button> 
                </div>
            </div>
        </form>
        <br>
        <div class="cont">
            <button><a href="AddTeacher.html" title="Add New Lecturer">
            <i class="fa fa-plus" aria-hidden="true"></i> Add New Lecturer
            </a></button>
        </div>
        <table class="table table-striped table-condensed" id="tblData">
            <thead>
            <tr>
                <th>Lecturer Name</th>
                <th>Lecturer Username</th>
                <th>Lecturer Email</th>
                <th>Actions</th>
            </tr>
            </thead>
            <!-- database looping here -->
            <tbody>
            <tr>
            </tr>
            </tbody>       
        </table>
    </div>
    <script src="./js/global.js"></script>
    <script>
        async function deleteTeacher(id) {
            const conf = confirm("Are you sure?");
            if(conf == true){
                const req = await fetch(`http://localhost:3000/api/user/teacher/delete/${id}`, {
                    method: 'DELETE',
                    headers: {
                        'Content-Type': 'application/json'
                    }
                });

                if (req.status === 200) {
                    alert("Lecturer Deleted");
                    window.location.reload();
                } else {
                    alert("Error");
                }
            }
        }

        window.onload = async () => {
            try {
                const req = await fetch('http://localhost:3000/api/user/teacher/get');

                if (req.status === 200) {
                    const { teachers } = await req.json();

                    console.log(teachers);

                    for (let teacher of teachers) {
                        const { _id, name, username, email } = teacher;

                        const tr = document.createElement('tr');
                        tr.innerHTML = `
                            <td>${name}</td>
                            <td>${username}</td>
                            <td>${email}</td>
                            <td>
                                <button class="btn btn-primary" onclick="deleteTeacher('${_id}')"><i class="fa fa-trash"></i></button>
                            </td>
                        `;

                        document.querySelector('#tblData tbody').appendChild(tr);
                    }
                }
            } catch (e) {
                console.log(e);
            }
        };
    </script>
</body>
</html>